doctype html
html(lang='en')
	head
		include partials/html-head.pug

	body.bg-white.color-black
		//- include partials/svg-symbols.pug
		include icons/index.svg

		mixin svg-icon(id)
			svg.fit.block
				use(xlink:href=`#${id}`)

		mixin screenshot(url, title, directory)
			.sm-col-6.mt3.px2
				picture
					source(srcset=`images/screenshots/${directory}/tablet.png` media='(min-width: 30rem) and (max-width: 52rem)' width='768' height='576')
					source(srcset=`images/screenshots/${directory}/desktop.png` media='(min-width: 52rem)' width='960' height='600')
					img.block.fit.rounded.overflow-hidden(src=`images/screenshots/${directory}/mobile.png`, alt=`${title} website preview` width='750' height='750')
				h2.mt1.h2
					a(href=url).link= title
				block

		mixin via(url, title)
			p.h5.mt1 Via #[a(href=url).color-black.link= title]


		.bg-gradient-1.color-white
			.max-width-4.mx-auto.px2.sm-px3.pb3.sm-pb4
				.flex.flex-wrap.mxn2
					.col-12.sm-col-6.mt3.sm-mt4.relative
						picture
							//- source(srcset='images/new-logo-wide.svg' media='(min-width: 40rem)')
							img(src='images/new-logo-2.svg').block.px2.sm-absolute.height-100

							//- p.h2.mt1 Web Developer
					.col-12.sm-col-6.px2.mt2.sm-mt4
						h1 Tyler&nbsp;Eich
						p.mt1.h3 Web&nbsp;developer for businesses and marketing&nbsp;teams

						a(href='#contact').button.h3.py1.px2.mt2.mr1
							.button-icon
								+svg-icon('web')
							.ml1 Ask about websites

						a(href='#contact').button.h3.py1.px2.mt2.mr1
							.button-icon
								+svg-icon('group')
							.ml1 Ask about teams

						//- p.mt3
							a(href='#contact').inline-block.button.h2.py1.px2 I want a website

		.bg-white
			.max-width-4.mx-auto.px2.sm-px3.py3.sm-py4
				h1.bold.caps.h2 Process
				//- h2
					| I make them
				//- section.flex.flex-wrap.mxn2
				section.flex.flex-wrap.mxn2
					.col-12.sm-col-4.mt3.px2
						.bg-gradient-2.circle.icon.color-white.flex.items-center.justify-center
							.bold.h1 1
						//- .ml2.icon.fill-black
							+svg-icon('devices')
						.m0
							h2.mt1 Design
							p.mt1 Start with basic look and feel

					.col-12.sm-col-4.mt3.px2
						.bg-gradient-2.circle.icon.color-white.flex.items-center.justify-center
							.bold.h1 2
						//- .ml2.icon.fill-black
							+svg-icon('network_check')
						.m0
							h2.mt1 Adapt
							p.mt1 Optimize for different devices

					.col-12.sm-col-4.mt3.px2
						.bg-gradient-2.circle.icon.color-white.flex.items-center.justify-center
							.bold.h1 3
						//- .ml2.icon.fill-black
							+svg-icon('network_check')
						.m0
							h2.mt1 Code
							p.mt1 Convert into web code
					//- section.col-12.sm-col-6.mt3.flex.flex-wrap.items-center.justify-around
						.icon.fill-primary
							+svg-icon('image')
						//- .icon.xs-hide.fill-primary-light
							+svg-icon('keyboard_arrow_right')
						.icon.fill-primary
							+svg-icon('build')
						//- .icon.xs-hide.fill-primary-light
							+svg-icon('keyboard_arrow_right')
						.icon.fill-primary
							+svg-icon('code')

		.bg-gradient-2
			.max-width-4.mx-auto.px2.sm-px3.py3.sm-py4.color-white
				h1.bold.caps.h2 Principles
				//- h2
					| I make them
				section.flex.flex-wrap.mxn2
					.sm-col-6.mt3.px2
						.icon.fill-white
							+svg-icon('devices')
						h2.mt1 Responsive Layout
						p.mt1 Visitors can expect a first-class experience regardless of what device they&rsquo;re using
					.sm-col-6.mt3.px2
						.icon.fill-white
							+svg-icon('network_check')
						h2.mt1 Fast Pages
						p.mt1 Hold attention and improve user experience with performant, optimized architecture
					.sm-col-6.mt3.px2
						.icon.fill-white
							+svg-icon('view_quilt')
						h2.mt1 Clean Structure
						p.mt1 Thoughtful designs focus attention on the message, not the surrounding layout
					.sm-col-6.mt3.px2
						.icon.fill-white
							+svg-icon('touch_app')
						h2.mt1 Rich interactions
						p.mt1 Careful scripting and considered animations add a new layer of interaction to a static design
					.sm-col-6.mt3.px2
						.icon.fill-white
							+svg-icon('search')
						h2.mt1 Discoverable Content
						p.mt1 Extra information behind the scenes helps search engines know where to look
					.sm-col-6.mt3.px2
						.icon.fill-white
							+svg-icon('accessibility')
						h2.mt1 Accessible Markup
						p.mt1 Annotated codebases provide the best possible experience for users of all abilities

		.bg-white.color-black
			.max-width-4.mx-auto.px2.sm-px3.py3.sm-py4
				h1.bold.caps.h2 Portfolio
				.flex.flex-wrap.mxn2
					+screenshot(
							'http://childrenshopefw.org/',
							'Mad Anthonys Childrenʼs Hope House',
							'childrenshopefw-org')
						+via(
								'https://www.crownjewelpro.com',
								'Crown Jewel Marketing')

					+screenshot(
							'https://doolittle.enterprises',
							'Doolittle Enterprises',
							'doolittle-enterprises')
						+via(
								'https://localeye.co',
								'Local Eye Design')

					+screenshot(
							'http://yourmovementmatters.com',
							'Movement Matters',
							'yourmovementmatters-com')
						+via(
								'https://localeye.co',
								'Local Eye Design')

		#contact.bg-gradient-1.color-white
			.max-width-4.mx-auto.px2.sm-px3.py3.sm-py4
				h1.bold.caps.h2 Contact
				form(action='https://formspree.io/me@tylereich.com' method='POST').flex.flex-wrap.mxn2
					.col-12.sm-col-6.px2
						label.mt3.color-white.block Name
						input(type='text' name='name').mt1.input
					.col-12.sm-col-6.px2
						label.mt3.color-white.block Email
						input(type='email' name='email').mt1.input
					.col-12.px2
						label.mt3.color-white.block Message
						textarea(rows='4' name='message').mt1.textarea
					input(type='hidden' name='_next' value='https://tylereich.com/thanks.html')
					.col-12.px2
						button(type='submit').mt3.h3.py1.px2
							.button-icon
								+svg-icon('send')
							.ml1 Send message

		.p0.bg-gradient-black
			.max-width-4.mx-auto.py2.px2.sm-px3
				p.h6.color-gray.my1 Copyright © 2016 Tyler&nbsp;Eich
				p.h6.color-gray.my1 Iconography by #[a(href='https://material.io/icons/') Material&nbsp;Icons]
